
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
  *{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  body{
    height: 100vh;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(to right,red,rgb(47, 5, 254))
  }
  form{
    width:25rem;;
    height:28rem;
    display:flex;
    flex-direction: column;
    background: rgba(209, 204, 204, 0.116);
    box-shadow: 0 8px 30px 0 rgba(31,38,135,.37);
    border-radius: 30px;
    border-left:1px solid  rgba(255,255,255,.3);
    border-top:1px solid  rgba(255,255,255,.3);
  }
  form:before{
    content:'';
    position:absolute;
    bottom:3%;
    right:28%;
    width:200px;
    height: 200px;
    background: rgba(223, 27, 141, 0.648);
    border-radius: 50%;
    z-index: -1;
    opacity: .8;

  }
  form:after{
    content:'';
    position:absolute;
    top:10%;
    left:32%;
    width:100px;
    height: 100px;
    background: rgba(223, 27, 141, 0.648);
    border-radius: 50%;
    z-index: -1;
    opacity: .8;
  }
  h1{
    font-size: 40px;
    text-align: center;
    color: white;
    letter-spacing: 5px;
    margin-bottom: 5%;
    opacity: .5;
  }
label{
    font-size: 20px;
    color: white;
    margin-left: 10%;
    opacity: .7;
    
}
input{
    width: 80%;
    margin: 5px auto;
    margin-bottom: 8%;
    border:none;
    outline:none;
    background: transparent;
    color: white;
    border-bottom: 1px solid rgba(255,255,255,0.6);
    opacity: .8;
    font-size: 18px;
}
button{
    width: 50%;
    margin:3% auto;
    color:white;
    font-size: 15px;
    opacity: .8;
    background-color: rgba(209, 204, 204, 0.116);
    border:none;
    outline:none;
    border-radius: 20px;
    padding:10px 30px;
    box-shadow: 0 8px 30px 0 rgba(31,38,135,.37);
    border-left:1px solid  rgba(255,255,255,.3);
    border-top:1px solid  rgba(255,255,255,.3);
}
a{
    font-size: 12px;
    text-align: center;
    color: white;
    opacity: .7;

}