@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;


}
.main{
    width:100%;
    background:  url('media/kyle-bushnell-Zi3Pt6lW1eo-unsplash.jpg');
    background-position: center;
    
    background-size: cover;
    height: 100vh;
   
}
.navbar{
    width:1350px;
    height: 75px;
    margin:auto;
}
.icon{
    width:200px;
    float: left;
    height: 70px;
}
.logo{
    color:rgb(255, 255, 255) ;
    font-size: 35px;
    padding:10px;
    
    padding-top: 10px;
    padding-left: 10px;
    width: 270px;
   
}
.menu{
    width:400px;
    float:left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
ul li{
    list-style: none;
    margin-left:30px;
    margin-top:25px;
    font-size: 17px;
}
ul li a{
    text-decoration: none;
    color: white;
   
    font-weight: bold;
    transition: 0.4s ease-in-out;

}
ul li a:hover{
    color: yellow;
}
.search{
    width:330px;
    float: left;
    margin-left: 380px;
}
.srch{
   
    width:360px;
    height: 40px;
    background: transparent;
    border:1px solid yellow;
    margin-top:22px;
    color: white;
    border-right: none;
    font-size: 16px;
    float: left;
    padding:10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
   margin-left:-150px;
    
}
.btn{
    width:100px;
    height: 40px;
    background: yellow;
    border: 2px solid yellow;
    margin-top: 22px;
    color: black;
    font-size: 18px;
    border-bottom-right-radius: 5px;
    color: black;
    font-weight: bolder;
    
}
.btn:focus{
    outline: none;
}
.srch:focus{
    outline: none;
}
.content{
    width:1200px;
    height: auto;
    
    color:white;
    

}
.content .par{
    padding-left: 20px;
    padding-bottom: 20px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
    font-weight: bold;
    font-size: 20px;
    width:fit-content;
   

}
.content h1{
    
    font-size:60px;
    padding-left: 20px;
    margin-top: 5%;
    letter-spacing: 2px;

}
.content .btn1{
    width:160px;
    height:40px;
    background: yellow;
    border:none;
    border-radius: 10px;
    margin-left:220px;
    margin-top:20px;
    font-size: 18px;
    cursor:pointer;
    transition: .4s ease;
}
.content .btn1 a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    transition: .3s ease;
}
.btn1:hover{
    background-color: white;
}
.content span{
    color: yellow;
    font-size: 60px;
}
form{
    width:22rem;;
    height:25rem;
    
    margin-left: 950px;
    margin-top:-470px;
    justify-content: right;
    align-items: right;
  
   
    flex-direction: column;
    background: rgba(209, 204, 204, 0.049);
    box-shadow: 0 8px 15px 0 rgba(231, 224, 13, 0.58);
    border-radius: 30px;
    border:1px solid  rgba(244, 240, 14, 0.982);

  }
  .login{
   
    font-size: 40px;
    text-align: center;
    color: rgb(255, 255, 0);
    letter-spacing: 5px;
    margin-bottom: 5%;
    opacity: .5;
   
  
  
  }
   
    
  
.label{
    font-size: 20px;
    color: rgb(255, 238, 0);
    margin-left: 10%;
    opacity: .5;
    
}
.data{
    width: 80%;
    margin: 5px auto;
    margin-bottom: 8%;
    margin-left:35px;
    border:none;
    outline:none;
    background: transparent;
    color: rgb(255, 255, 255);
    border-bottom:1px solid  rgba(244, 240, 14, 0.982);
    
    font-size: 20px;
}
.btn2{
    width: 50%;
    margin:3% auto;
    color:rgb(255, 255, 0);
    font-size: 20px;
    opacity: .8;
    background-color: rgba(209, 204, 204, 0.116);
    border:none;
    outline:none;
    border-radius: 20px;
    padding:10px 30px;
    box-shadow: 0 8px 30px 0 rgba(31,38,135,.37);
    border:1px solid  rgb(251, 243, 2);
    
    display: block;
    cursor:pointer;
    transition: .4s ease;
}
.btn2:hover{
    background-color: rgb(0, 0, 0);

}
.forget{
    font-size: 12px;
    text-align: center;
    margin-left:125px;
    color: rgb(255, 247, 1);
    opacity: .7;
    font-weight: bold;

}
  


